body {
  font-family: Helvetica, sans-serif;
}

.main {
  background-image: url(file:///Users/artesiama/Codecademy/Projects/Broadway/resources/images/the-flatiron-building.png);
  text-align: center;
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

.btn-nav {
  font-size: 18px;
  color: white;
}

div {
  display: block;
}

.process-items {
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

 .footer {
   text-align: left;
   font-size: 11px;
   color: white;
   background-color: dimgray;
 }
